@import '~normalize.css/normalize.css';
@import './var';
@import './media';
@import './fonts';
@import './base';
@import './animations';

// custom styles

html {
  height: 100%;
}

body {
  background: #121212;
  color: #fff;
  font-family: $family_1;
}

a {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;

  &:hover {
    color: $primary;
  }

  img {
    display: inline-block;
    vertical-align: middle;
    width: 80px;
  }
}

h1 {
  letter-spacing: 0.64px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $family_1;
  font-weight: 700;
}

img {
  max-width: 100%;
}

.rds-8 {
  border-radius: 8px !important;
}

.container {
  @include media-breakpoint-up(xl) {
    max-width: 1210px;
  }
}

// HEADER
.ds-main-header {
  position: relative;

  // NAVBAR
  .ds-navbar {
    -webkit-backdrop-filter: saturate(100%) blur(16px);
    backdrop-filter: saturate(100%) blur(16px);
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #1c1c1c;
    background-color: hsla(0, 0%, 9%, 0.92);
    left: 0;
    right: 0;
    top: 0;

    & > .container-fluid,
    & > .container-fluid > .row {
      height: 50px;
    }

    .ds-search {
      position: relative;
      width: 30px;
      height: 30px;
      line-height: 25px;
      text-align: center;
      padding: 0;

      img {
        width: 50%;
        filter: invert(100%);
      }
    }
  }

  // Logo
  .ds-logo {
    width: 162px;
    svg {
      transition: all 0.2s;
      fill: #fff;
    }
    &:hover {
      svg {
        fill: $primary;
      }
    }
  }
}

// General Button
.ds-btn {
  font-family: $family_2;
  border: 1px solid hsla(0, 0%, 100%, 0.08);
  border-radius: 6px;
  background-color: hsla(0, 0%, 87.8%, 0.08);
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
  color: #e0e0e0;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  padding: 0 15px;
  height: 30px;
  line-height: 30px;
  cursor: pointer;

  &:hover {
    color: #8f8f8f;
  }
}

// NAV MENU
.ds-nav-menu {
  backdrop-filter: saturate(100%) blur(16px);
  position: relative;
  z-index: 10;
  display: flex;
  width: 100%;
  height: 56px;
  margin-top: 50px;
  padding-right: 15px;
  padding-left: 16px;
  justify-content: center;
  align-items: stretch;
  background-color: #121212;
  font-family: $family_2;

  .ds-menu-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 1400px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;

    .ds-menu-item {
      position: relative;
      width: 20%;
      height: 100%;
      padding-top: 18px;
      padding-bottom: 18px;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      border-bottom-style: none;
      background-color: transparent;
      -webkit-transition: color 0.2s ease;
      transition: color 0.2s ease;
      color: #fff;
      text-decoration: none;

      text-align: center;
      letter-spacing: 0.28px;

      &:hover {
        color: $primary;
      }

      &.dropdown-toggle:after {
        content: none;
        display: none;
      }
    }

    // Dropdown
    & > div {
      width: 20%;
      text-align: center;
      position: relative;

      .ds-menu-item {
        width: 100%;
      }

      button {
        border: none;
        outline: none;
      }
    }
  }
}

.dropdown {
  position: relative;

  &:hover > button {
    color: $primary;
  }

  .ds-dropdown-menu {
    display: block;
    list-style: none;
    position: absolute;
    margin: 0 auto !important;
    padding: 0;
    top: 100%;
    left: 0;
    right: 0;
    bottom: auto;
    width: 200px;
    border: 1px solid #262626;
    border-radius: 8px;
    background-color: #171717;
    transition: all 0.2s;
    transform: translate3d(0px, -10px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg)
      rotateZ(0deg) skew(0deg, 0deg) !important;
    transform-style: preserve-3d;
    opacity: 0;
    visibility: hidden;
    z-index: -1;

    li {
      border-bottom: 1px solid #262626;
      &:last-of-type {
        border: 0;
      }
      .dropdown-item {
        padding: 0;
        position: relative;
        width: 100%;
        height: 44px;
        padding-top: 12px;
        padding-bottom: 12px;
        justify-content: center;
        align-items: center;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        background-color: #171717;
        transition: color 0.2s ease;
        color: #fff;
        text-align: center;
        &:hover {
          color: $primary;
        }
      }
    }
  }

  &:hover {
    .ds-dropdown-menu {
      opacity: 1;
      visibility: visible;
      transform: translate3d(0px, 0, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg)
        skew(0deg, 0deg) !important;
    }
  }
}

// CONTENT
.ds-main-wrapper {
  border-top: 1px solid #1c1c1c;
}

// HERO
.ds-hero {
  background-color: #050505;
  overflow: hidden;

  .ds-portrait {
    max-width: 590px;
    margin: 0 0 0 auto;
  }

  .ds-hero-img-overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(5%, #050505),
      color-stop(20%, rgba(5, 5, 5, 0))
    );
    background-image: linear-gradient(0deg, #050505 5%, rgba(5, 5, 5, 0) 20%);
  }
}

.jarallax {
  position: relative;
  z-index: 0;
  height: 100%;
}

// Parallax
.jarallax > .jarallax-img {
  position: absolute;
  object-fit: contain;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

// Card
.ds-card {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  padding: 12px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid hsla(0, 0%, 100%, 0.06);
  border-radius: 12px;
  background-color: #141414;
  -webkit-transition: border-color 0.2s ease, background-color 0.2s ease;
  transition: border-color 0.2s ease, background-color 0.2s ease;
  text-decoration: none;
  color: #fff;

  &:hover {
    border-color: hsla(0, 0%, 100%, 0.08);
    background-color: #292929;
  }

  // Thumbnail
  .ds-card--thumbnail {
    width: 100px;
    height: 80px;
    margin-right: 16px;
    border-radius: 6px;
    overflow: hidden;
    object-fit: cover;

    img {
      width: 110%;
      height: 110%;
      object-fit: cover;
    }
  }

  // Card detail
  .ds-card--detail {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-family: $family_2;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.36px;

    .ds-card--title {
      font-family: $family_1;
      color: #f90;
      font-size: 10px;
      line-height: 14px;
      font-weight: 800;
      letter-spacing: 1.6px;
    }

    p {
      margin: 0;
    }
  }
}

// LOGO BAR
.ds-logo-bar {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  padding: 10px 50px 10px;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  border-top: 1px solid #1c1c1c;
  border-bottom: 1px solid #1c1c1c;
  background-color: #0d0d0d;

  img {
    position: relative;
    width: 90%;

    &.billboard {
      top: -2px;
    }

    &.bloomberg {
      top: 1px;
    }

    &.washpost {
      width: 95%;
    }
  }
}

// FOOTER
.ds-footer {
  position: relative;

  .ds-footer--up {
    padding-right: 50px;
    padding-left: 50px;
    border-top: 1px solid #171717;
    border-bottom: 1px solid #171717;
    background-color: #121212;

    .footer-logo {
      width: 192px;
      height: 23px;
    }

    .ds-footer-menu-name {
      margin-bottom: 28px;
      color: #fff;
      line-height: 22px;
    }

    .ds-footer-menu {
      margin: 0;
      padding: 0;
      display: block;

      li {
        display: block;
        margin-bottom: 28px;
        border-bottom-style: none;
        transition: color 0.2s ease;
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        letter-spacing: 0.14px;
      }
    }
  }

  .ds-footer--down {
    position: relative;
    width: 100%;
    height: 56px;
    padding-right: 50px;
    padding-left: 50px;
    background-color: #121212;
    color: #525252;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.43;

    .container {
      height: 100%;
    }

    li,
    a {
      font-size: inherit;
      color: #525252;
    }
  }

  a {
    color: #b8b8b8;
    text-decoration: none;
    transition: color 0.2s ease;
    &:hover {
      color: #fff;
    }
  }
}

// SUBSCRIBE
.ds-subscribe {
  background-color: #0d0d0d;
  .ds-formgroup {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 448px;
    margin-left: auto;
    margin-right: auto;
    height: 56px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    font-family: $family_3;

    input {
      height: 100%;
      margin-bottom: 0px;
      padding-right: 20px;
      padding-left: 20px;
      -webkit-box-flex: 1;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      background-color: transparent;
      color: rgb(255, 255, 255);
      letter-spacing: 0.24px;
      flex: 1 1 0%;
      border-style: solid;
      border-width: 1.5px;
      border-color: rgb(255, 255, 255);
    }

    button {
      height: 100%;
      padding-right: 20px;
      padding-left: 20px;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      background-color: rgb(255, 255, 255);
      color: rgb(5, 5, 5);
      font-size: 14px;
      line-height: 22px;
      letter-spacing: 0.24px;
      border-style: solid;
      border-width: 1.5px;
      border-color: rgb(255, 255, 255);
      transition: opacity 0.2s ease 0s;
    }
  }
}
